<tr valign="bottom">
	<td width="231" height="5" style="border-top: none; border-left: none; border-right: none; padding: 0cm">
		<p align="center">#MEMBER_POSITION#</p>
	</td>
	<td width="5" style="border: none; padding: 0cm">
		<p align="center"><br/></p>
	</td>
	<td width="109" style="border-top: none; border-left: none; border-right: none; padding: 0cm">
		<p align="center"><br/></p>
	</td>
	<td width="5" style="border: none; padding: 0cm">
		<p align="center"><br/></p>
	</td>
	<td width="203" style="border-top: none; border-left: none; border-right: none; padding: 0cm">
		<p align="center">#MEMBER_NAME#</p>
	</td>
	<td width="5" style="border: none; padding: 0cm">
		<p align="center"><br/></p>
	</td>
	<td width="96" style="border-top: none; border-left: none; border-right: none; padding: 0cm">
		<p align="center"><br/></p>
	</td>
</tr>
<tr valign="bottom">
	<td width="231" height="5" style="border-top: 1px solid #000000; border-bottom: none; border-left: none; border-right: none; padding: 0cm"><p align="center">
		<sup><font size="2" style="font-size: 10pt">(должность)</font></sup></p>
	</td>
	<td width="5" style="border: none; padding: 0cm"><p align="center"><br/>

	</p>
	</td>
	<td width="109" style="border-top: 1px solid #000000; border-bottom: none; border-left: none; border-right: none; padding: 0cm"><p align="center">
		<sup><font size="2" style="font-size: 10pt">(подпись)</font></sup></p>
	</td>
	<td width="5" style="border: none; padding: 0cm"><p align="center"><br/>

	</p>
	</td>
	<td width="203" style="border-top: 1px solid #000000; border-bottom: none; border-left: none; border-right: none; padding: 0cm"><p align="center">
		<sup><font size="2" style="font-size: 10pt">Ф.И.О.</font></sup></p>
	</td>
	<td width="5" style="border: none; padding: 0cm"><p align="center"><br/>

	</p>
	</td>
	<td width="96" style="border-top: 1px solid #000000; border-bottom: none; border-left: none; border-right: none; padding: 0cm"><p align="center">
		<sup><font size="2" style="font-size: 10pt">(дата)</font></sup></p>
	</td>
</tr>