</table>
</center>
<p class="western"><br/>

</p>
<p class="western" style="margin-left: 2cm">
	Дата составления:
	<font face="Times New Roman, serif">
		<font size="3" style="font-size: 12pt">
			<span style="text-decoration: none">________________</span>
		</font>
	</font>
</p>
<p class="western"><br/></p>
<p class="western" style="margin-left: 2cm">Председатель комиссии по оценке производственных рисков:</p>
<table style="margin-left: 2cm" width="752" cellpadding="7" cellspacing="0">
	<col width="231"/>
	<col width="5"/>
	<col width="109"/>
	<col width="5"/>
	<col width="203"/>
	<col width="5"/>
	<col width="96"/>
	<tr valign="bottom">
		<td width="231" height="5" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding: 0cm">
			<p align="center">#POSITION_CHAIRMAN#</p>
		</td>
		<td width="5" style="border: none; padding: 0cm">
			<p align="center"><br/></p>
		</td>
		<td width="109" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding: 0cm">
			<p align="center"><br/></p>
		</td>
		<td width="5" style="border: none; padding: 0cm">
			<p align="center"><br/></p>
		</td>
		<td width="203" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding: 0cm">
			<p align="center">#CHAIRMAN#</p>
		</td>
		<td width="5" style="border: none; padding: 0cm">
			<p align="center"><br/></p>
		</td>
		<td width="96" style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none; padding: 0cm">
			<p align="center"><br/></p>
		</td>
	</tr>
	<tr valign="bottom">
		<td width="231" height="5" style="border-bottom: none; border-left: none; border-right: none; padding: 0cm">
			<p align="center"><sup><font size="2" style="font-size: 10pt">(должность)</font></sup></p>
		</td>
		<td width="5" style="border: none; padding: 0cm">
			<p align="center"><br/></p>
		</td>
		<td width="109" style="border-bottom: none; border-left: none; border-right: none; padding: 0cm">
			<p align="center"><sup><font size="2" style="font-size: 10pt">(подпись)</font></sup></p>
		</td>
		<td width="5" style="border: none; padding: 0cm">
			<p align="center"><br/></p>
		</td>
		<td width="203" style="border-bottom: none; border-left: none; border-right: none; padding: 0cm">
			<p align="center"><sup><font size="2" style="font-size: 10pt">Ф.И.О.</font></sup></p>
		</td>
		<td width="5" style="border: none; padding: 0cm">
			<p align="center"><br/></p>
		</td>
		<td width="96" style="border-bottom: none; border-left: none; border-right: none; padding: 0cm">
			<p align="center"><sup><font size="2" style="font-size: 10pt">(дата)</font></sup></p>
		</td>
	</tr>
</table>