<p lang="en-US" class="western" style="margin-bottom: 0cm; line-height: 100%"><br/></p>
<p class="western" style="margin-left: 2cm">Члены комиссии по оценке производственных рисков:</p>
<table style="margin-left: 2cm" width="752" cellpadding="7" cellspacing="0">
	<col width="231"/>
	<col width="5"/>
	<col width="109"/>
	<col width="5"/>
	<col width="203"/>
	<col width="5"/>
	<col width="96"/>