<tr>
	<td width="169" valign="top" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.19cm; padding-right: 0cm">
		<p align="center">
			<font size="2" style="font-size: 10pt">
				<i>#NAME_WP#</i>
			</font>
		</p>
	</td>
	<td width="181" valign="top" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.19cm; padding-right: 0cm">
		<p align="center">
			<font size="2" style="font-size: 10pt">#HAZARD#</font>
			<font size="2" style="font-size: 10pt"> (#ZONE_NAME#)</font>
		</p>
	</td>
	<td width="76" valign="top" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.19cm; padding-right: 0cm">
		<p align="center">
			<font size="2" style="font-size: 10pt">#RISK_LEVEL#</font>
		</p>
	</td>
	<td width="179" valign="top" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.19cm; padding-right: 0cm">
		<p align="center">
			<font size="2" style="font-size: 10pt">#EVENTS_DOWN_RISK#</font>
		</p>
	</td>
	<td width="107" valign="top" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.19cm; padding-right: 0cm">
		<p align="center">
			<font size="2" style="font-size: 10pt"></font>
		</p>
	</td>
	<td width="79" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.19cm; padding-right: 0cm">
		<p align="center">
			<font size="2" style="font-size: 10pt"></font>
		</p>
	</td>
	<td width="79" valign="top" style="border-top: 1px solid #000000; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding-top: 0cm; padding-bottom: 0cm; padding-left: 0.19cm; padding-right: 0cm">
		<p align="center">
			<font size="2" style="font-size: 10pt"></font>
		</p>
	</td>
</tr>